<div class="back-one">
    <%= link_to "Regresar", "/", class: "btn" %>
</div>
<div class="twoContent">
    <div>
        <h1>Segundo ejercicio</h1>
        <p>Este ejercicio consiste en crear un componente de React dentro de rails que genere una tabla de índice. Debes crear tres componentes para este ejercicio</p>
    </div>
    <div class="twoCont">
        <%= react_component 'EventsTable' %>
        <%= react_component 'GuestsTable' %>
    </div>
</div>