<div class="component">
    <div class="form">
        <form action="" >
            <div class="form-control">
                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                <input type="text" placeholder="Start Time">
            </div>
            <div class="form-control">
                <i class="fa fa-building-o fa-fw" aria-hidden="true"></i>
                <input type="text" placeholder="Location">
            </div>
            <div class="form-control">
                <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                <input type="text" placeholder="Title">
            </div>
            <div class="form-control">
                <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                <textarea name="" id="" cols="30" rows="5" placeholder="Description"></textarea>
            </div>
        </form>
    </div>
    <div class="options">
        <label class="dropdown">
            <div class="dd-button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <input type="checkbox" class="dd-input" id="test">
            <ul class="dd-menu">
                <li class="add-above">Add above</li>
                <li class="add-below">Add below</li>
            </ul>
        </label>
    </div>
</div>