<div class="back-one">
    <%= link_to "Regresar", "/", class: "btn" %>
</div>
<div class="content">
    <div class="left">
        <h1>Primer ejercicio</h1>
        <p>Debes crear un partial de Rails que genere un resultado
            similar al mostrado en la imagen adjunta. Este ejercicio debe ser resuelto utilizando únicamente HTML, CSS y
            JS. No se permite utilizar React en esta solución.</p>
    </div>
    <div class="right" id="form-container">

    </div>
</div>

<script>
    function newForm() {
        const newForm = document.createElement('div');
        newForm.innerHTML = '<%= escape_javascript(render("shared/partial")) %>';

        const addAboveElement = newForm.querySelector('.add-above');
        addAboveElement.onclick = () => addAbove(newForm);

        const addBelowElement = newForm.querySelector('.add-below');
        addBelowElement.onclick = () => addBelow(newForm);

        return newForm;
    }

    function addAbove(formDiv) {
        const container = document.getElementById('form-container');
        container.insertBefore(newForm(), formDiv);
    }

    function addBelow(formDiv) {
        const container = document.getElementById('form-container');
        container.insertBefore(newForm(), formDiv.nextSibling);
    }

    function defaultForm() {
        const container = document.getElementById('form-container');
        let nForm = newForm();
        container.appendChild(nForm);
    }
    defaultForm();
</script>